<!doctype html>
<html>
  <head>
    <title>Discoverfy</title>
    <link rel="stylesheet" href="/static/css/discoverfy.css">

  </head>
  <body>
    <div class="section intro">

      <div class="wrapper top">

        <div class="logo-block">
          <img class="logo" src="/static/images/logo.png" />
        </div>

        <h2 class="siv"><strong>Never Miss out on new music again!</strong></h2>
      </div>
      <br><br>
      <div class="wrapper middle center">
        <!-- <h3 class="subtitle">Try our new web app</h3> -->
        <form action="" method="post">
            <input class = "button download web" type="submit" name="spotify-login" value="Sign Up"/>
        </form>
      </div>
    </div>
    <h1>About Us</h1>
    <br>
    <h5 class="siv">Sign up for Discoverify to have your Discover Weekly Spotify playlists saved each week.  Your Discover Weekly playlist will be saved as a new playlist so that you can listen to it even after Spotify has deleted your Discover Weekly playlist
    </h5>
  </body>
</html>
