<!doctype html>
<html>
  <head>
    <title>Discoverfy</title>
    <link rel="stylesheet" href="/static/css/discoverfy.css">
  </head>

  <body>
    <div class="container">
      <div id="login">
        <h1>Discoverfy</h1>
        
        
<p><b>Never Miss out on new music again!</b><br><br> 

Sign up for Discoverify to have your Discover Weekly Spotify playlists saved each week.  Your Discover Weekly playlist will be saved as a new playlist so that you can listen to it even after Spotify has deleted your Discover Weekly playlist</p>

<br>
        <form action="" method="post">
            <input type="submit" name="spotify-login" value="Sign Up"/>
        </form>

      </div>
    </div>
  </body>
</html>